<!DOCTYPE Configuration>
<Configuration>
  <Macro>
    <DataPath>/home/rsys/Desktop/Developer/example1_app</DataPath>
    <EncoderName>COMPort_X_20130903_195003.txt</EncoderName>
    <IMUName>InterSense_X_20130903_195003.txt</IMUName>
    <URGName>URG_X_20130903_195003.lms</URGName>
    <mapWidth>600</mapWidth>
    <mapHeight>600</mapHeight>
    <zeroX>-100</zeroX>
    <zeroY>-500</zeroY>
    <mapRes>0.100000</mapRes>
  </Macro>
  <Sensor_Encoder>
    <Simulator>
      <EncoderSim>
        <path>
          <Default>.</Default>
        </path>
        <name>
          <Default>COMPort_X_20130903_195003.txt</Default>
        </name>
        <disPrePulse>
          <Default>0.00384615</Default>
        </disPrePulse>
        <pulseMax>
          <Default>30000</Default>
        </pulseMax>
        <disPerPulse>
          <Default>0.00384615</Default>
        </disPerPulse>
      </EncoderSim>
    </Simulator>
  </Sensor_Encoder>
  <Sensor_IMU>
    <Simulator>
      <IMUSim>
        <path>
          <Default>.</Default>
        </path>
        <name>
          <Default>InterSense_X_20130903_195003.txt</Default>
        </name>
      </IMUSim>
    </Simulator>
  </Sensor_IMU>
  <Sensor_Lidar_URG>
    <Simulator>
      <URGSim>
        <path>
          <Default>.</Default>
        </path>
        <filename>
          <Default>URG_X_20130903_195003.lms</Default>
        </filename>
        <nearfilter>
          <Default>5</Default>
        </nearfilter>
        <farfilter>
          <Default>3000</Default>
        </farfilter>
      </URGSim>
    </Simulator>
    <VisualizationMono>
      <URGVis>
        <range>
          <Default>3000</Default>
        </range>
        <interval>
          <Default>1000</Default>
        </interval>
        <imageradius>
          <Default>300</Default>
        </imageradius>
        <frontonly>
          <Default>0</Default>
        </frontonly>
        <laserbeam>
          <Default>1</Default>
        </laserbeam>
      </URGVis>
    </VisualizationMono>
  </Sensor_Lidar_URG>
  <Algorithm_Deadreckoning>
    <ProcessorMulti>
      <Deadreckoning>
        <initx>
          <Default>0</Default>
        </initx>
        <inity>
          <Default>0</Default>
        </inity>
        <initori>
          <Default>1.570796327</Default>
        </initori>
      </Deadreckoning>
    </ProcessorMulti>
    <StorageMono>
      <DRStorage>
        <path>
          <Default>.</Default>
        </path>
        <name>
          <Default>result</Default>
        </name>
      </DRStorage>
    </StorageMono>
    <VisualizationMono>
      <DRVis>
        <mapZeroX>
          <Default>-100</Default>
        </mapZeroX>
        <mapZeroY>
          <Default>-500</Default>
        </mapZeroY>
      </DRVis>
    </VisualizationMono>
  </Algorithm_Deadreckoning>
  <Algorithm_Mapping>
    <ProcessorMulti>
      <Mapping>
        <mapWidth>
          <Default>600</Default>
        </mapWidth>
        <mapHeight>
          <Default>600</Default>
        </mapHeight>
        <zeroX>
          <Default>-100</Default>
        </zeroX>
        <zeroY>
          <Default>-500</Default>
        </zeroY>
        <mapRes>
          <Default>0.1</Default>
        </mapRes>
      </Mapping>
    </ProcessorMulti>
    <VisualizationMono>
      <MapShow>
        <mapWidth>
          <Default>600</Default>
        </mapWidth>
        <mapHeight>
          <Default>600</Default>
        </mapHeight>
        <mapZeroX>
          <Default>-100</Default>
        </mapZeroX>
        <mapZeroY>
          <Default>-500</Default>
        </mapZeroY>
        <mapRes>
          <Default>0.1</Default>
        </mapRes>
        <mapGrid>
          <Default>10</Default>
        </mapGrid>
        <zeroX>
          <Default>-100</Default>
        </zeroX>
        <zeroY>
          <Default>-500</Default>
        </zeroY>
      </MapShow>
    </VisualizationMono>
  </Algorithm_Mapping>
</Configuration>
