<!DOCTYPE Configuration>
<Configuration>
  <Macro>
    <width>640</width>
    <height>480</height>
    <startx>320</startx>
    <starty>240</starty>
  </Macro>
  <test_Source>
    <SensorTimer>
      <rand/>
    </SensorTimer>
  </test_Source>
  <test_Processor>
    <ProcessorMono>
      <processor>
        <startx>
          <Default>#(startx)</Default>
        </startx>
        <starty>
          <Default>#(starty)</Default>
        </starty>
        <width>
          <Default>#(width)</Default>
        </width>
        <height>
          <Default>#(height)</Default>
        </height>
        <step>
          <Default>4</Default>
        </step>
      </processor>
    </ProcessorMono>
  </test_Processor>
  <test_Drain>
    <VisualizationMono>
      <showMap>
        <width>
          <Default>#(width)</Default>
        </width>
        <height>
          <Default>#(height)</Default>
        </height>
      </showMap>
    </VisualizationMono>
  </test_Drain>
</Configuration>
